div{
    width: 1300px;
    height: 600px;
    background-image: url("koala.png");
    background-size: 100px;
    position: relative;
}

h1 {
    color: red;
    background-color: white;
    font-size: 14em;
    width: 700px;
    position: absolute;
    text-align: center;
    left: 300px;
    bottom: 145px;
}